/********************** Mobil *********************/

/********************** Desktop*******************/
@media (min-width: 1000px) {
  /********************** Min computer *******************/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /********************index.html **************************/
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: start;
  }

  .forsidebillede {
    order: -1;
  }

  /********************operativsystemer**********************/
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 20px;
  }

  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
  }

  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
  }

  .textorderoperativ {
    order: -1;
  }

  /*********************komponenter***********************/
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .flex_col :last-child {
    margin-top: auto;
  }

  /*********************galleri***********************/
  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  img {
    align-self: stretch;
    object-fit: cover;
  }
}
.img1galleri {
  grid-row: 1/3;
  grid-column: 1/3;
}

.img4galleri {
  grid-row: 2/3;
  grid-column: 3/5;
}
.img5galleri {
  grid-row: 3/4;
  grid-column: 1/2;
}

.img6galleri {
  grid-row: 3/4;
  grid-column: 2/5;
}

.img2-3galleri {
  grid-column: 3/5;
  grid-row: 1/2;
}

.img2-3galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
}
